
body	{
		background-color: rgb(250,235,215);
		background-size: 100%;
		background-position: 0% 100%;
		background-attachment: auto;
		font-family: Verdana, Geneva, sans-serif;
		min-width: 1100px;
}

header	{
		text-align: center;
}

#logo img {
			height: 100px;
			width: 560px;
}

#info table {
	color: rgb(250,235,215);
	padding: 1px 1px 1px 1px;
	text-align: center;
	margin: auto;
	width: 810px;
	background-color: #111111;
	font-size: 20px;
	border-radius:6px;
    -moz-border-radius:6px;
}

#banner img {
			display: block;
    		margin: auto;
			height: 520px;
			width: 810px;
			border: 3px solid #111111;
			-moz-border-radius: 20px;
		    -webkit-border-radius: 20px;
		    -background-border-radius: 20px;
}

#menuline img {
			display: block;
   			margin-left: auto;
    		margin-right: auto
}

#menu img {
			height: 2220px;
			width: 1000px;
			display: block;
   			margin-left: auto;
    		margin-right: auto
}

#footer {
		text-align: center;
		background-color: #111111;
    	color: #eeeeee;
    	height: 40px;  
    	padding-top: 20px;
    	display: block;
    	margin-top: 20px; 
    	position: absolute;
    	left: 0;
    	right: 0;
  		width: 100%;
  		min-width: 1100px;
}
